/* footer у menu */
.menu-footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 10px;
}

/* кнопка сообщить об ошибке */
.error-button {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.834 0.124388C13.0468 0.370569 12.2949 0.901801 11.731 1.60147C11.261 2.19749 1.14549 21.3219 0.428829 22.9803C-0.640292 25.4551 0.358338 28.4093 2.66106 29.6013L3.33073 29.9511L14.7151 29.99C24.8776 30.0159 26.17 30.003 26.7574 29.8086C28.085 29.394 29.0366 28.4481 29.671 26.9581C29.953 26.2973 30 26.0252 30 25.0275C29.9883 24.0946 29.9413 23.7318 29.7298 23.2136C29.5771 22.8637 27.0746 18.0049 24.1492 12.4205C20.5306 5.47558 18.6626 2.02905 18.2749 1.5626C17.4643 0.577879 16.5009 0.085517 15.3025 0.00777568C14.7503 -0.0181381 14.1629 0.0207326 13.834 0.124388ZM15.9487 9.12943C16.1132 9.259 16.3599 9.58292 16.4774 9.8291C16.7124 10.2826 16.7124 10.3603 16.5009 14.675C16.3951 17.0979 16.2542 19.2876 16.1837 19.5468C16.0427 20.1687 15.5845 20.5574 15.0088 20.5574C14.4449 20.5574 13.881 20.0521 13.7987 19.482C13.7635 19.2488 13.646 17.3441 13.552 15.2451C13.4463 13.1461 13.3405 11.2932 13.3053 11.1248C13.2348 10.7102 13.4463 9.90684 13.7517 9.47926C14.2687 8.75368 15.2908 8.58524 15.9487 9.12943ZM15.9487 22.2029C16.9238 22.9933 16.8533 24.7166 15.8195 25.2996C14.6916 25.9345 13.3758 25.0794 13.3758 23.7189C13.3758 22.2807 14.9266 21.3737 15.9487 22.2029Z' fill='%235CBDFF'/%3E%3C/svg%3E%0A");
}

/* toggle-кнопка */
.menu-toggle-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.menu-toggle-wrapper_hidden {
  flex-wrap: wrap;
}

.menu-toggle-button {
  position: relative;
  width: 40px;
  height: 20px;
  border: 2px solid var(--menu-text-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.toggle-circle {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--menu-text-color);
  transition: all 0.5s ease-in-out;
}

.toggle-circle_active {
  left: calc(100% - 20px);
}

.toggle-text {
  text-align: center;
  font-size: var(--menu-footer-font-size);
}

/* иконка пользователя и выход из ЛК */
.menu-user-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.menu-user-icon {
  width: 30px;
  height: 30px;
  border: 1px solid var(--menu-text-color);
  border-radius: 25px;
  padding: 1px;
}

.menu-user-name {
  font-size: var(--menu-font-size);
  text-transform: capitalize;
}

.menu-user-name_hidden {
  display: none;
}

.logout-button {
  width: 20px;
  height: 20px;
  margin-left: auto;
  align-self: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_379_16)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.0228 0.0488353C16.4623 0.205693 16.8346 0.595442 16.9527 1.02222C16.9946 1.17387 17.0071 3.15459 16.9963 7.91268C16.982 14.1821 16.9753 14.6008 16.8868 14.7625C16.7408 15.0296 16.4779 15.3052 16.2674 15.4117C16.1622 15.465 15.058 15.8486 13.8137 16.2642C11.6932 16.9724 11.5312 17.0182 11.2296 16.9959C10.7063 16.9572 10.273 16.6592 10.0529 16.1869C9.94997 15.9659 9.92873 15.8326 9.9283 15.405L9.92777 14.8894L8.53043 14.8729L7.13309 14.8563L6.80188 14.7034C6.41291 14.5238 5.99158 14.1075 5.81464 13.7278C5.69955 13.4809 5.69535 13.412 5.68007 11.5194C5.66255 9.34637 5.66058 9.35989 6.015 9.24294C6.155 9.19675 6.23304 9.20143 6.38518 9.26496C6.71985 9.40474 6.73385 9.49131 6.73385 11.4244C6.73385 13.3294 6.74151 13.3782 7.08326 13.6388L7.28421 13.7922L8.60602 13.8081L9.92777 13.824V8.2008C9.92777 3.94803 9.94353 2.52509 9.99234 2.36222C10.0298 2.23739 10.1697 2.02647 10.325 1.86057C10.5791 1.58932 10.6323 1.56058 11.3384 1.31365L12.0837 1.05298L9.68402 1.06421L7.28437 1.07543L7.08332 1.22878C6.74151 1.48939 6.73385 1.53808 6.73385 3.44319C6.73385 5.3763 6.71985 5.46287 6.38518 5.60265C6.23304 5.66618 6.155 5.67086 6.015 5.62467C5.66058 5.50772 5.66255 5.52124 5.68007 3.34822C5.69535 1.45566 5.69955 1.3867 5.81464 1.13976C5.99158 0.760121 6.41291 0.343768 6.80188 0.164191L7.13309 0.0112703L11.4981 0.0015333C14.4907 -0.00511771 15.9133 0.00972735 16.0228 0.0488353ZM13.3556 1.77278C12.1583 2.17094 11.1368 2.53381 11.0856 2.57915C10.9978 2.65678 10.9924 3.03972 10.9924 9.19792C10.9924 15.6633 10.9936 15.7354 11.0989 15.8407C11.1574 15.8992 11.2472 15.9471 11.2985 15.9471C11.3497 15.9471 12.3738 15.6215 13.5742 15.2235C15.0358 14.7388 15.7874 14.4645 15.8498 14.3928C15.9375 14.2922 15.943 13.9003 15.943 7.79051V1.29513L15.8273 1.17195C15.7636 1.10427 15.6712 1.04883 15.622 1.04883C15.5728 1.04883 14.5528 1.37462 13.3556 1.77278ZM3.42761 4.3156C3.66625 4.44776 3.7634 4.76105 3.6407 5.00304C3.60828 5.06695 3.18338 5.52028 2.69641 6.01049L1.81106 6.90172H4.61761H7.42416L7.592 7.05156C7.73174 7.17638 7.75979 7.24029 7.75979 7.43381C7.75979 7.62732 7.73174 7.69123 7.592 7.81605L7.42416 7.96589H4.61905H1.81388L2.72612 8.88373C3.29128 9.45236 3.65219 9.85722 3.67476 9.94789C3.77617 10.3554 3.42947 10.7022 3.02092 10.6019C2.926 10.5786 2.36898 10.0622 1.43726 9.13375L0 7.7015V7.43503V7.16851L1.38403 5.78121C2.14525 5.01821 2.83274 4.35955 2.91179 4.31762C3.08879 4.22371 3.26051 4.22301 3.42761 4.3156Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_379_16'%3E%3Crect width='17' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

/* раздел download */
.menu-download-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-download-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-download-list_hidden {
  flex-wrap: wrap;
}

.menu-download-icon {
  width: 25px;
  height: 25px;
}

.menu-download-text {
  text-align: center;
  font-size: var(--menu-footer-font-size);
}