/* общая обертка */
.body-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* обертка для меню */
.menu-wrapper {
  position: relative;
  max-width: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: var(--menu-text-color);
  background-color: var(--menu-bg-color);
  z-index: 999;
}

.menu-wrapper_hidden {
  max-width: 60px;
}

.decorate-line {
  width: calc(100% - 10px);
  height: 1px;
  margin: 0 auto;
  background-color: var(--menu-text-color);
}